form {
  margin: auto;
}

.form_field {
  margin-top: 20px;
}
  
.fieldset_field {
  display: block;
  margin-top: 10px;
}
  
.first_fieldset {
  margin-top: 0;
}

.first_label {
  margin-top: 0;
}

button {
  margin-top: 20px;
}
